group '{{ env.java_package_entity }}'
version '{{ env.build_version|default('0.0.1-SNAPSHOT') }}'

apply plugin: 'java'

sourceCompatibility = 1.8

repositories {
    mavenCentral()
}

def libraryVersion = [
        hibernate: '5.2.10.Final',
        querydsl: '3.7.4'
]

dependencies {
    compile group: 'com.fasterxml.jackson.core', name: 'jackson-databind', version: '2.8.8.1'
    compile group: 'com.fasterxml.jackson.datatype', name: 'jackson-datatype-joda', version: '2.8.8'
    compile group: 'joda-time', name: 'joda-time', version: '2.9.9'
    compile group: 'mysql', name: 'mysql-connector-java', version: '5.1.42'
    compile group: 'org.hibernate', name: 'hibernate-core', version: libraryVersion.hibernate
    compile group: 'org.hibernate', name: 'hibernate-validator', version: '5.4.1.Final'

    compileOnly group: 'com.mysema.querydsl', name: 'querydsl-apt', version: libraryVersion.querydsl
    compileOnly group: 'com.mysema.querydsl', name: 'querydsl-jpa', version: libraryVersion.querydsl
    compileOnly group: 'org.hibernate', name: 'hibernate-jpamodelgen', version: libraryVersion.hibernate
    compileOnly group: 'org.projectlombok', name: 'lombok', version: '1.16.16'
}

ext {
    generatedSourcesDir = file("${buildDir}/generated-metamodels")
}

sourceSets {
    main {
        java {
            srcDir 'src/main/java'
            srcDir generatedSourcesDir
        }
    }
}

compileJava {
    doFirst {
        // Directory should exists before compilation started.
        generatedSourcesDir.mkdirs()
    }
    options.compilerArgs += ['-s', generatedSourcesDir]
}

task wrapper(type: Wrapper) {
    gradleVersion = '3.5'
}

