package {{ env.java_package_entity_dao_ext }};

import {{ env.java_package_entity_dao }}.Abstract{{ table.class_name }}Dao;

public interface {{ table.class_name }}Dao extends Abstract{{ table.class_name }}Dao {
}

