package {{ env.java_package_entity_ext }};

import {{ env.java_package_entity }}.Abstract{{ table.class_name }};
import lombok.*;
import org.joda.time.DateTime;

import javax.persistence.*;

@Entity
@Table(name = "{{ table.name }}")
public class {{ table.class_name }} extends Abstract{{ table.class_name }} {
    @Builder
    public {{ table.class_name }}({% for column in table.columns %}{{ column.field_type }} {{ column.field_name }}{% if not loop.last %}, {% endif %}{% endfor %}) {
        super({% for column in table.columns %}{{ column.field_name }}{% if not loop.last %}, {% endif %}{% endfor %});
    }
}

